html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #eae0d5;
}



.head-section {
    font-family: 'Cinzel';
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eae0d5;
    row-gap: 60px;
    width: 100%;

}

.box {
    height: 400px;
    width: 1100px;
    background-color: #ddbea9;
    border-radius: 10px;
    margin-left: 70px;
}